<%- include('includes/head.ejs') %>
  </head>
<%- include('includes/nav.ejs') %>

    <form action="/add-user", method="POST">
      <label for="username">Please enter your username:</label>
      <input type="text" name="username">
      <button type="submit">Add User</button>
    </form>
<%- include('includes/end.ejs') %>