<%- include('includes/head.ejs') %>
  </head>
<%- include('includes/nav.ejs') %>
    <h1>Users</h1>
    <% if (users.length > 0) { %>
      <ul>
        <% users.forEach((user) => { %>
        <li><%= user.name %></li>
        <% }) %>
      </ul>
    <% } else { %>
      <h2>Sorry, no usernames can be found. </h2>
        <p>Please return the the "Add User" page and add a username.</p>
    <% } %>  

<%- include('includes/end.ejs') %>